@import './variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-family);
    color: var(--text-color);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg transition-colors duration-200 font-medium;
  }

  .btn-primary {
    background-color: var(--primary-button-color);
    color: var(--primary-button-text-color);
  }

  .btn-primary:hover {
    background-color: var(--primary-button-color-on-hover);
  }

  .btn-secondary {
    background-color: var(--secondary-button-color);
    color: var(--secondary-button-text-color);
    border: 1px solid var(--border-color);
  }

  .btn-secondary:hover {
    background-color: var(--secondary-button-color-on-hover);
  }

  .input {
    @apply w-full px-4 py-2 rounded-lg border transition-colors duration-200;
    border-color: var(--border-color);
    font-family: var(--font-family);
  }

  .input:focus {
    @apply outline-none ring-2;
    border-color: var(--brand-color);
    ring-color: var(--brand-color);
  }

  .card-brand {
    display: inline-flex; /* Alinea el contenido horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding: 0 8px; /* Padding uniforme horizontal (ajusta según sea necesario) */
    height: 32px; /* Altura consistente */
    background-color: #f4f4f4; /* Fondo gris claro */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 0.875rem; /* Texto más pequeño (14px) */
    font-weight: bold; /* Negrita para visibilidad */
    text-transform: capitalize; /* Capitaliza el texto */
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
  }
}
